version: "3.9"

services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: landmine-backend
    restart: unless-stopped
    volumes:
      - ./models:/app/models                  # моделі
      - ./web/static/results:/app/web/static/results   # результати детекцій
      - ./web/static/uploaded:/app/web/static/uploaded # оригінали завантажень
      - ./web/history.json:/app/web/history.json       # історія викликів
      - ./data/test_images/images:/app/data/test_images/images:ro # тестові патчі для симулятора
    environment:
      - PYTHONUNBUFFERED=1

  nginx:
    image: nginx:alpine
    container_name: landmine-nginx
    restart: unless-stopped
    ports:
      - "8000:80"   # фронт: http://localhost:8000
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - backend
